#wrapper {
    background-color: beige;
    width: 100%;
}

h1 {
    text-align: center;
    color: rgba(0, 0, 255, 0.808);
}

img {
    height: 350px;
    width: 250;
    text-align: center;
}

#button {
    text-align: center;
}